.quiz-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.question-number {
  font-size: 1.125rem;
  font-weight: 300;
  color: #f6f6f6;
}

.question-text {
  font-size: 1.25rem;
  font-weight: 700;
  text-align: center;
  color: #f6f6f6;
}

.answer-button-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(14rem, 24rem));
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 700px) {
  .answer-button-grid {
    grid-template-columns: minmax(auto, 26rem);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
