#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.btn-primary {
  min-width: 8rem;
  padding: 0.6rem 1.2rem;
  font-weight: 800;
  color: #f6f6f6;
  background-color: #ea4c89;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border: 2px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #ea4c89;
}

.btn-primary:not(:disabled):active {
  transform: scale(0.95);
}

.btn-primary:disabled {
  background-color: #ccc;
}
