:root {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
p {
  margin: 0;
}

body {
  height: 100vh;
  background: linear-gradient(#3b82f6, #1e40af);
}
